/*
 * --------------------------------------------------
 * UPDATE :: 2023.08.08
 * --------------------------------------------------
 */
body {
  &.search-results,
  &.post-template-default,
  &.page-template-default {
    #origamiez-body-inner {
      display: flex;
    }
  }
}

nav#origamiez-mobile-nav {
  padding-top: 40px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  z-index: 100;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  transform: translate(-240px, 0);

  &.is-active {
    transform: translate(0, 0);
  }
}
#origmiez-mobile-nav__toggle {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  color: $white;
  font-size: 24px;
  background-color: $primary-color;
  i {
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: 1px solid $white;
    border-radius: 50%;
    text-align: center;
    margin-right: 12px;
  }
}